:root{
    --nav-color:#4369B4;
    --bg1-color:#7190cd;
    --bg2-color:#0057A7;
    --text-color:#404040;
    --main-color:#ffd54c;
    --main2-color:#0945ba;
    --main3-color:#ffe5fb;
}
/* 共用設定 */
/* header-----導覽列的藍色底 */
    .menu{
        width: 100%;
        background-color: var(--nav-color);
        height: 50px;
        box-shadow: 0 2px 5px 2px rgba(41, 42, 137, 0.3);
        position: fixed;
        z-index: 1;
    }
/* header-----checkbox隱藏 */
    #menu_hb{
        display: none;}
/* banner圖輪播 */
    .banner_slider{
        width: 100%;
        position: relative;
        top: 50px;
        overflow: hidden;
    }

    .banner_picture_items{
        /* display: none; */
        vertical-align: top;
        width: 100%;
    }
  
    .banner_picture_items img{
        width: 100%;
        height: 100%;
        object-fit: center;
        object-position: center;
    }
    /* banner的左右<>按鈕 */
    .pre, .next{
        position: absolute;
        bottom: 50%;
        width: auto;
        cursor: pointer;
        padding: 10px 10px;
        color: var(--bg2-color);
        font-weight: 900;
        font-size: 30px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        text-decoration: none;
    }
    .pre{
        left: 10px;
    }
    .next {
        right: 10px;
        border-radius: 3px 0 0 3px;
    }
    .pre:hover, .next:hover{
        background-color:rgb(255,229,251,.5);
    }
    /* banner下方的點點按鈕 */  
    .banner_slider_dot{
        text-align: center;
        position: relative;
        z-index: 1;
    } 

    .banner_slider_dot .dot{
        display: inline-block;
        cursor: pointer;
        margin: 0 10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #bebebe;
        transition: background-color 0.6s ease;
    }
    
    .active,.banner_slider_dot span:hover{
        background-color: #2a2a2a;
    }
    /* 圖片淡入 */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      .disable {
        display: none;
    }
  
   
/* 導覽列--平板直向以下 */
    @media screen and (max-width: 1023px){
        /* 平板橫向以下導覽列與會員登入icon隱藏 */
        .menu_nav,.sign_in_icon{
            display: none;
        }
        /* 手機版置中logo */
        .logo_rwd{
            width: 100%;
        }
        .logo_rwd a{
            display: block;
            width: 75px;
            height: 75px;
            position: relative;
            margin: auto;
            z-index: 10;
        }
        .logo_rwd img{
            width:100%;
            height: 100%;
            vertical-align: top;
            margin-top: 7px;
        }
        /* 漢堡選單 */
        /* 漢堡按鈕 */
        .menu_hb{
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            top: -140%;
            right:0;
            left: 0;
            margin-left: auto;
            z-index: 3;
        } 
        /* 漢堡按鈕三條線    */
        .menu_hb span{
            width: 30px;
            height: 2px;
            background-color: var(--main-color);
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
        .menu_hb span:nth-child(1){
            top: 9px;
            transform: rotate(0deg);
            transition: top .5s .5s,transform .5s 0s;
        }
        #menu_hb:checked ~ .menu .menu_hb span:nth-child(1){
            top: 19px;
            transition: .5s;
            transform: rotate(45deg);
            transition: top .5s .5s,transform .5s 1s;
        }
        .menu_hb span:nth-child(2){
            top: 0;
            bottom: 0;
            margin: auto;
            opacity: 1;
            transition: .5s;
        }
        #menu_hb:checked ~ .menu .menu_hb span:nth-child(2){
            opacity: 0;
            transition: .5s;
        }
        .menu_hb span:nth-child(3){
            bottom: 9px;
            transform: rotate(0deg);
            transition: bottom .5s .5s,transform .5s 0s;
        }
        
        #menu_hb:checked ~ .menu .menu_hb span:nth-child(3){
            bottom: 19px;
            transform: rotate(-45deg);
            transition: bottom .5s .5s,transform .5s 1s;
        }
        /* 漢堡下方選單 */
        .menu_hb_link{
            display: none;
            position: absolute;
            z-index: 0;
            top: 50px;
            width: 100%;
            background-color:#fff1fd;
            /* filter: opacity(95%); */
            text-align: center;
            
        }
        .menu_hb_link li{
            border-bottom: 1px solid var(--bg2-color);
        }
        .menu_hb_link li:nth-child(1){
            width: 100%;
            height: 36px;
            background-color: #fff1fd;
            border-bottom: none;
        }
        .menu_hb_link a{
            text-decoration: none;
            font-size: 16px;
            color: var(--main2-color);
            display: inline-block;
            padding: 20px;
        }
        #menu_hb:checked ~ .menu .menu_hb_link{
            display: block;
        } 
        
    }
    
/* 導覽列----平板橫向以上 */
@media screen and (min-width: 1024px){
    /* 手機版logo隱藏 */
    .logo_rwd, .menu_hb_link{
        display: none;
    }

    .menu_nav{
        display: flex;
        justify-content: center;
    }
    .menu_nav ul{
        display: flex;
        margin: auto;
    }
    .menu_nav ul li a{
        display: block;
        padding: 7px 20px ;
        text-decoration: none;
        text-shadow: 1px 1px 1px gray;
        font-size: 16px;
        line-height: 36px;
        color: #fff;
    }
    .menu_nav ul li a:hover{
        color: var(--main-color);
    }
    .logo{
        width: 80px;
    }
    .logo img{
        width: 100%;
        vertical-align: top;
    }
    .sign_in_icon{
        display: block;
        margin: 0 20px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .material-symbols-rounded{
        color: #fff;
        vertical-align: top;
        margin: 13px 0;
    }
  
}
@media screen and (min-width: 1200px){
    
}